@import '../../variables.css';

.container {
  background: #FFF;
  display: flex;
  flex: 1;
  margin: 20px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  min-width: 400px;
}

.header {
  background-color: #9FACBF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-color: #404040;
}

.header:hover {
  background-color: #b2c1d6;
}

.subHeader {
  background-color: #8893a3;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.text {
  color: #ECF2F6;
  font-size: 12px;
  flex-wrap: wrap;
  flex: 1;
}

.title {
  color: #fff;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bold;
}
