@import '../variables.css';

.container {
  background: #FFF;
  display: flex;
  flex: 1;
  margin: 20px;
  flex-direction: row;
  min-width: 400px;
}

.tab {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  border-radius: 4px;
}

.tab button {
  display: flex;
  background-color: #9FACBF;
  padding: 15px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border: 0.5px solid #fff;

}

.tab button:hover {
  opacity: 0.5;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: flex;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  flex-direction: column;
  line-height: 30px;
}

.tablinks{
  font-size: 16px;
  color: #fff;
}

.identity {
  display: flex;
  flex-direction: column;
}

.title {
  color: #9FACBF;
  font-size: 22px;
  flex-wrap: wrap;
  display: flex;
  font-weight: bold;
  border-bottom: 0.5px solid #9FACBF;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.text {
  color: #2B2F3E;
  font-size: 16px;
  flex-wrap: wrap;
  display: flex;
}

