@import '../../variables.css';

.container {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #dfdfdf;
  padding-left: 30px;
  align-items: center;
  cursor: pointer;
}

.container:hover {
  background-color: #f8f8f8;
}

.contentField {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.text {
  color: #2B2F3E;
  font-size: 12px;
  flex-wrap: wrap;
}

.statut {
  font-size: 12px;
  font-weight: bold;
  flex-wrap: wrap;
}

